<form class="link-creator-form form-inline" {{action "saveLink" on="submit"}}>
  <div class="form-group">
    {{input type="text" value=linkUrl disabled=isLoading class="form-control input-lg"}}
    {{input type="submit" value="Add" disabled=submitDisabled class="btn btn-primary btn-lg"}}
  </div>

  {{#if invalidLink}}
    <p style="color: red;">Invalid link</p>
  {{/if}}
</form>