<form {{action 'authenticate' on='submit'}}>
  {{input value=identification placeholder='Enter Login'}}
  {{input value=password placeholder='Enter Password' type='password'}}
  <input type="submit" value="login" />
</form>