{{link-creator-form}}

{{#if model.length}}
  <div class="link-list">
    {{#each model as |link|}}
      {{editable-link link=link}}
    {{else}}
      <p>No links in the database</p>
    {{/each}}
  </div>
{{else}}
  <div class="blank-slate">
    <span class="glyphicon glyphicon-time"></span>
    <h3>There isn't any pending link at this moment.</h3>
  </div>
{{/if}}
