<h2 id="title">Admin</h2>
<ul>
  <li>
    {{#link-to 'admin.links.index'}}
      Links
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'admin.compilations.index'}}
      Compilations
    {{/link-to}}
  </li>
</ul>

{{outlet}}
